<h3>Home</h3>
<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %>

<div class="header">
  <div class="span3">
      <%= image_tag "cwb_logo.png"%>
  </div>
  <div class="span8"> 
	  <%= image_tag "beta.png", :class => "beta" %>
	  <%= image_tag "inhere.png", :class => "inhere" %>
	  <%= image_tag "sina_g.png", :class => "sina_g" %>
	  <%= image_tag "qq_g.png", :class => "qq_g" %>
	  <%= image_tag "qqc_g.png", :class => "qqc_g" %>
	  <%= image_tag "sc_g.png", :class => "sc_g" %>
	  <%= image_tag "imgad.gif", :class => "imgad" %>
  </div>
 </div>

<div class="body">
  <div class="cwbTxtWrapper">
		<textarea id="imgStr" name="imgStr" maxlength="50000" class="cwbTxtarea" placeholder="千万别迷恋网络游戏，有本事就玩好人生这场大游戏。">	
		</textarea>
		<input type="hidden" id="isfirst" value="1">
  </div>
  <div class="cwbDefaultWrapper">
    <input type="button" value="" title="转换长微博为图片" class="zhButton afocus" onclick="sendCwb();">
    <div class="cwbConOther">
<!-- // more selects -->
		<div class="more_selcet">
			<dl>
			<dt>内容标题：</dt><dd><input type="text" maxlength="23" id="wbTitle" name="wbTitle" value="" class="m_txt text-input"> (可选填)</dd>
			<dt>微博昵称：</dt><dd><input type="text" maxlength="30" id="wbName" name="wbName" value="" class="m_txt text-input"> (可选填)</dd>
		</div>	
	</div>
   </div>
</div>

